<!DOCTYPE html>
<html>
  <head>
    <!-- set `maximum-scale` for some compatibility issues -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"
    />
    <meta content="telephone=no" name="format-detection" />
    <meta content="email=no" name="format-detection" />
  </head>

  <body>
    <div id="root"></div>
  </body>
  <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
</html>
